/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.item-fields {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  max-width: 360px;
}

.item-fields > label,
.item-fields > .field {
  display: contents;
}

.field-and-tip {
  position: relative;
}
.tip {
  border: 1px solid rgba(12, 12, 13, 0.2);
  position: absolute;
  box-sizing: border-box;
  padding: 10px 12px;
  top: -5px;
  left: 270px;
  width: 270px;
  height: 84px;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2);
  background-color: #fdfdfd;
}
.error-tip {
  position: absolute;
  box-sizing: border-box;
  margin-left: -3px;
  margin-top: 4px;
  border-radius: 4px;
  padding: 4px 8px;
  color: #fff;
  font-size: 12px;
  background-color: #d70022;
}

.input {
  max-width: 242px;
}

.input-error {
  border-color: var(--red-60) !important;
  box-shadow: 0 0 0 1px #d70022, 0 0 0 4px rgba(251, 0, 34, .3) !important;
}

.password {
  max-width: 258px;
}

.notes {
  min-height: 60px;
}

.notes-read-only {
  min-height: 73px;
}

.first-label {
  margin-top: 0;
}

.inline-button {
  display: flex;
}

.inline-button > *:first-child {
  flex: 1;
}
